body,
html,
* {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #202020;
}

.text {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	padding: 1%;
	font-family: Arial, Helvetica, sans-serif;
	color: #e5e5e5;
	font-size: small;
}

.information {
	margin-top: 20px;
}

button:hover {
	background-color: #595959;
}

#carCanvas {
	background-color: #030303;
}

#networkCanvas {
	background-color: #030303;
}
